/* Estilos generales */
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ccc;
}

.mainCont{
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  background: linear-gradient(#141e30, #243b55);
  border-radius: 20px;
}
  
  /* Estilos del encabezado */
  header {
    background-image: url(/img/Background.png);
    background-position-x: 170px;
    background-position-y: 380px;
    background-size: cover;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .LogoCont{ 
    border-radius: 20px;
    background: linear-gradient(#141e30, #243b55);
  }

  #LOGO {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 200px; 
    height: auto; 
  }
  
  .LogoCont:hover{
    background: #ccc;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #03e9f4 inset, 0 0 20px 4px #03e9f4;
  }

  header h1 {
    margin: 0;
  }
  
  h2{
    color: #ccc;
  }

  a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
  }
  
  a:hover {
    color: #03e9f4;
  }
  
  /* Estilos de la sección de videos */
  section {
    padding: 20px;
  }
  
  section h2 {
    margin-top: 0;
    font-family: sans-serif;
  }
  
  .video-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .video-thumbnail {
    margin-bottom: 20px;
    width: calc(30% - 10px);
    box-sizing: border-box;
    padding: 10px;
    background-color: #f9f9f9;

    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-thumbnail:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .video-thumbnail video {
    width: 100%;
  }
  
  .video-thumbnail h3 {
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #141414;
    color: #ffffff;
    text-align: center;
    padding: 20px;
  }

  /* Estilo del select */
  select {
    margin-left: auto;
    margin-right: 10px;
  }

select#menu {
  width: 80%;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 16px;
  border: none;
  appearance: none;
  background-size: 30px 30px;
  background-position: right center;
  background-repeat: no-repeat;

  color: #ccc;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

/* Estilo de las opciones */
select#menu option {
  font-size: 16px;
  padding: 10px;
  background-color: #243b55;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #ccc;
  color: #ccc;
}

/* Estilo del hover en las opciones */
select#menu option:hover {
  background-color:#03e9f4;
}

/*Estilo de la barra de navegación*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#141e30, #243b55);
  color: #fff;
  padding: 10px;
}

#LogOut-button {
  background-color: #03e9f4;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: uppercase;
}

#LogOut-button:hover{
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #03e9f4 inset, 0 0 20px 4px #03e9f4;
}

#Init-button{
  margin-left: 90px;
}