<!DOCTYPE html>
<html lang="es" ng-app="Auth_app">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Formulario de introducción de datos iniciales">
    <meta name="author" content="Adelina Mercader Rubio">

    <title>Log In</title>
    <link rel="icon" href="/img/1678126487.ico" type="image/png">
    <link rel="stylesheet" href="/css/Login_stye.css">

    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/Controller.js"></script>

</head>
<body>
    <main>
        <h2>Login</h2>
        <form id= "log-form"> 
            <div class="User">
                <input type="email" placeholder="Correo Electrónico" maxlength="25" ng-model="user" required>
                <label for="Usuario"></label>
            </div>
            <div class="Pass">
                <input type="password" placeholder="Contraseña" maxlength="25" ng-model="passwd" required>
                <label for="Contraseña"></label>
            </div>
            <button type="submit" ng-click= "register()" name="enviar"> <!--Conjunto de spans para hacer un botón bailongo-->
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Entrar    
            </button>
        </form>
    </main>
    <!--<script src="/js/Autentication.js"></script>-->
</body>
</html>